*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background-image: url(../images/blue-paint-wall-background-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.login{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    background-color: rgba(0, 0, 0,0.5);
    min-width: 600px;
    min-height: 300px;
}

h3{
    margin-top: 20px;
    font-size: 24px;
    text-transform: uppercase;
    color:rgba(240, 255, 255,0.8);
}

.inpt{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid azure;
    outline: none;
    font-size: 18px;
    color: whitesmoke;
    background: none;
    padding: 5px;
    transition: 0.8s;
}

.btn{
    margin-bottom: 30px;
    width: 180px;
    height: 50px;
    font-size: 18px;
    background-color: rgba(240, 255, 255, 0.8);
    outline: none;
    cursor: pointer;
    transition: 0.8s;
}

.btn:hover{
    background: transparent;
    border: 1px solid azure;
    color: azure;
}

.inpt:hover{
    background-color:rgb(255, 255, 255,0.8);
    
}