@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*! base css start */

*{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body{
    height: 100vh;
}
/*! base css end */

.container{
    background: black;
    color: white;
    padding-top: 60px;
}

/*! navbar start */
.navbar{
    background-color: black;
    height: 60px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.logo{
    font-size: 30px;
    color: rgb(255, 70, 70);
}

.menu-list{
    display: flex;
    list-style: none;
    column-gap: 30px;
    padding: 0;
}

.menu-list-items{
    cursor: pointer;
}

.menu-list-items:hover{
    font-weight: bold;
}

.menu-list-items.active{
    font-weight: bold;
}

.profile-picture{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-text-container{
    display: flex;
    align-items: center;
    column-gap: 5px;
    line-height: 1;
}

.profile-container{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.toggle{
    width: 40px;
    background-color: white;
    height: 20px;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    position: absolute;
    right: 1px;
}
/*! navbar end */


/*! sidebar start */
.sidebar{
    background-color: black;
    height: 100%;
    color: white;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    row-gap: 40px;
    position: fixed;
    top: 0;
}

.sidebar i{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/*! sidebar end */


/*! featured start */
.content-wrapper{
    margin-left: 50px;
    background-color: black;
}

.featured-content{
    background: url(/images/spiderman.jpg);
    padding: 50px;
    height: calc(100vh - 160px);
    background-size: cover;
    
}

.featured-title{
    width: 400px;
}

.featured-desc{
    background: rgba(255, 255, 255, 0.5);
    width: 500px;
    margin: 30px 0;
    padding: 10px;
    font-size: 18px;
    color:black
}

.featured-buttons{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.featured-buttons .play-button{
    background-color: white;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
}

.featured-buttons .info-button{
    background-color: rgba(78, 76, 76, 0.514);
    border: none;
    width: 200px;
    height: 40px;
    font-size: 18px;
    color: white;
    border-radius: 2px;
}


.movie-list-filter{
    margin:50px 20px;
}
.movie-list-filter select{
    border: 0.px solid white;
    background: transparent;
    color: white;
    padding: 7px 2px;
    width: 120px;
}
.movie-list-filter select option{
    border: 0.px solid white;
    background: black;
    color: white;
    padding: 6px 0;
    width: 120px;
}

.movie-list-container{
    margin-left: 20px;
}


.movie-list .movie-item .movie-img{
    width: 250px;
    height: 180px;
    object-fit: cover;
    transition: 1s all ease-in-out;
}

.movie-list{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 30px;    
}

.movie-list-wrapper{
    overflow: hidden;
}

.movie-item{
    position:relative;
}

.movie-item:hover .movie-item-title, 
.movie-item:hover .movie-item-buttons
{
    opacity: 1;   
}

.movie-item:hover .movie-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-item-title{
    background-color: rgba(40, 40, 40, 0.4);
    padding: 0 10px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}
.movie-item-buttons{
    background-color: rgba(40, 40, 40, 0.4);
    padding:10px;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 50px;
    display: flex;
    column-gap: 20px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-item-buttons i{
    cursor: pointer;
    opacity: 0.5;
    font-size: 20px;
    transition: 0.5s all ease-in-out;
}
.movie-item-buttons i:hover{
    opacity:1 ;
}





/*! featured end */